script(src='/view.js')
script #{windowVariables}
style(type="text/css") body { overflow:hidden; }

// each shot in scene.shots
div(id=shot._id data-time=shot.length)!= shot.html
  style(scoped)= shot.css

