<template>
  <div>
    <v-layout row wrap>
      <v-flex xs1>
        <v-subheader>{{shot.name}}</v-subheader>
      </v-flex>
      <v-flex xs1>
        <v-text-field v-model="shot.length" box mask="########" suffix="sec"
                      v-on:blur="saveChanges()"
                      label="Shot looptijd">
        </v-text-field>
      </v-flex>
      <v-flex xs1>
        <v-text-field v-model="shot.scrollTime" box mask="########" suffix="sec"
                      v-on:blur="saveChanges()"
                      label="Scroll looptijd">
        </v-text-field>
      </v-flex>
      <v-flex xs12>
        <div style="height: calc(100vh - 10em); " id="editor"></div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import grapesjs from 'grapesjs';
  import basic_block from 'grapesjs-blocks-basic';
  import 'grapesjs/dist/css/grapes.min.css';
  import { configureEditor, assetManagerConfig } from "../grapesjs.config";

  export default {
    props: ['sceneId', 'shot'],

    name: 'EditShot',
    computed: {},
    data() {
      return {
        editorComponentsLoaded: false
      };
    },
    methods: {
      /**
       * Dispatch the search templates action so the templates are retrieved from the api
       */
      getData() {
        this.$store.dispatch('searchTemplates');
      },
      /**
       * Dispatch action so the shot is updated in the backend
       */
      saveChanges: function () {
        if (this.shot) {
          this.shot.html = this.editor.getHtml();
          this.shot.css = this.editor.getCss();
          this.$store.dispatch('updateShot', {
            sceneId: this.sceneId,
            shot: this.shot
          });
        }
      },
      /**
       * When the same editor instance is used for editing different shots
       * the editor should be updated with the new content.
       */
      updateEditor: function () {
        if (this.shot.html !== '') {
          this.editor.setComponents(this.shot.html);
        }
        if (this.shot.css !== '') {
          this.editor.setStyle(this.shot.css);
        }
      }
    },
    watch: {
      /**
       * Update the editor when the shot changes
       */
      shot: function (val) {
        if (val) {
          this.updateEditor();
        }
      },
      /**
       * Add the templates to the editor so they can be added to the shot content.
       */
      templates: function (val) {
        if (val && !this.editorComponentsLoaded) {
          val.forEach(x => {
            this.editor.BlockManager.add(x._id, {
              label: x.name,
              content: x.html + `<style>${x.css}</style>`
            });
          });

          this.editorComponentsLoaded = true;
        }
      }
    },
    /**
     * Computed property needed for VueX store. The templates property will be updated when the state changes
     */
    computed: mapState({
      templates: state => state.templates
    }),

    /**
     * Create a new GrapesJS editor when this component is mounted.
     */
    mounted: function () {
      this.getData();
      this.editor = grapesjs.init({
        container: '#editor',
        height: this.height,
        // adds basic blocks to the editor
        plugins: ['gjs-blocks-basic'],
        assetManager: assetManagerConfig
      });

      configureEditor(this.editor, () => this.saveChanges());

      // if the shot is already set the content of that shot should be set on the editor
      if (this.shot) {
        this.updateEditor();
      }
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
