<template>
  <v-dialog v-model="openDialog" max-width="500">
    <v-card>
      <v-card-title class="headline">Scene afspelen</v-card-title>
      <v-checkbox class="ma-3" v-for="item in clients" color="purple" v-bind:label="item.name"
                  v-bind:value="item" v-bind:key="item.id" v-model="selectedClients"></v-checkbox>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat="flat" @click.native="onCancel">Annuleren</v-btn>
        <v-btn color="green darken-1" flat="flat" @click.native="onOk">OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mapState } from 'vuex'
  import router from '../router';

  export default {

    props: ['sceneId'],
    data() {
      return {
        /**
         * Holds all the selected clients on which the scene will be played
         */
        selectedClients: [],
        /**
         * Whether or not this dialog should be opened.
         */
        openDialog: true,
      }
    },
    watch: {
      /**
       * When the openDialog value changes the parent should be notified of this. Otherwise it can't be opened again.
       * @param val
       */
      openDialog: function (val) {
        if (!val) {
          this.$emit('onClose');
        }
      }
    },
    methods: {
      /**
       * Dispatch an action to get all the clients
       */
      getData() {
        this.$store.dispatch('searchClients');
      },

      /**
       * Close the editor
       */
      onCancel: function () {
        this.$emit('onClose');
      },

      /**
       * Call the api to play the scene on the selected devices.
       * Close the editor when done.
       */
      onOk: function () {
        this.$http.post('clients/play', {
          clients: this.selectedClients,
          sceneId: this.sceneId,
        }).then(() => {
          this.$emit('onClose');
        });
      },
    },
    /**
     * Computed property needed for VueX store. The clients property will be updated when the state changes
     */
    computed: mapState({
      clients: state => state.clients
    }),

    /**
     * Get the data when the component is mounted.
     */
    mounted() {
      this.getData();
    }
  }
</script>
