<template>
  <div grid-list-md grid-list-xl fluid="true">
    <v-toolbar>
      <v-toolbar-title>{{scene.name}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat v-on:click="addShot()">Shot Toevoegen</v-btn>
        <v-btn flat v-on:click="removeShot()">Shot Verwijderen</v-btn>
        <v-btn flat v-on:click="removeScene()">Scene Verwijderen</v-btn>
        <v-btn flat v-on:click="playScene()">Scene Afspelen</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-layout row wrap>
      <v-flex xs1>
        <h2>Shots</h2>
        <v-list v-if="scene && scene.shots">
          <template v-for="shot in scene.shots">
            <v-list-tile
              ripple
              :value="selectedShot && shot._id == selectedShot._id"
              v-on:click="openShot(shot)"
            >
              <v-list-tile-content>
                <v-list-tile-sub-title v-if="shot.name" v-text="shot.name"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-flex>
      <v-flex xs10 style="margin-left:3em;">
        <EditShot v-if="selectedShot != null" v-bind:sceneId="id"
                  v-bind:shot="selectedShot"></EditShot>
      </v-flex>
    </v-layout>

    <v-dialog v-model="newShotDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Nieuw Shot</v-card-title>
        <v-form class="ma-3">
          <v-text-field v-model="newShot.name"
                        label="Name"
                        :counter="25"
                        required>
          </v-text-field>
        </v-form>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click.native="onCancel">Annuleren</v-btn>
          <v-btn color="green darken-1" flat="flat" @click.native="onOk">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <PlaySceneDialog v-if="openPlaySceneDialog" v-on:onClose="openPlaySceneDialog = false"
                     :sceneId="id"></PlaySceneDialog>
  </div>
</template>

<style>

</style>

<script>
  import { mapState } from 'vuex'
  import EditShot from './EditShot.vue';
  import PlaySceneDialog from './PlaySceneDialog.vue';

  export default {
    props: ['id'],
    components: { EditShot, PlaySceneDialog },
    data() {
      return {
        /**
         * Whether or not the newShot dialog should be visible or not.
         */
        newShotDialog: false,
        /**
         * The data of the new shot.
         */
        newShot: {},
        /**
         * The current selected shot
         */
        selectedShot: null,
        /**
         * Whether or not the PlayScene dialog should be opened
         */
        openPlaySceneDialog: false
      }
    },
    methods: {
      /**
       * Dispatch an action to get the selected scene.
       */
      getData() {
        this.$store.dispatch('getSelectedScene', this.id);
      },

      /**
       * Open the newShot dialog
       */
      addShot: function () {
        this.newShotDialog = true;
      },

      /**
       * Close the newShot dialog
       */
      onCancel: function () {
        this.newShotDialog = false;
        this.newScene = {};
      },

      /**
       * Dispatch action to save the new shot to the database.
       * Close the dialog
       */
      onOk: function () {
        this.newShotDialog = false;
        this.$store.dispatch('addShot', { sceneId: this.id, shot: this.newShot });
      },

      /**
       * Set the current selected shot so the editor will be visible and/or updated
       * @param shot
       */
      openShot: function (shot) {
        this.selectedShot = shot;
      },
      /**
       * Open the play scene dialog
       */
      playScene() {
        this.openPlaySceneDialog = true;
      },
      /**
       * Dispatch action to remove the selected shot from the scene.
       */
      removeShot: function () {
        if (this.selectedShot) {
          this.$store.dispatch('removeShot', { sceneId: this.id, shotId: this.selectedShot._id });
          this.selectedShot = null;
        }
      },
      /**
       * Dispatch action to remove the current scene.
       */
      removeScene: function () {
        this.$store.dispatch('removeScene', this.id);
        this.$router.replace('/');
      }
    },
    watch: {
      /**
       * Watch the scene for changes.
       * When it changes the selected shot should be removed to ensure we aren't editing a shot from another scene.
       * @param val
       */
      scene: function (val) {
        if (this.selectedShot) {
          if (!val || !val.shots.find(x => x._id === this.selectedShot._id)) {
            this.selectedShot = null;
          }
        }
      }
    },

    /**
     * Computed property needed for VueX store. The scene property will be updated when the state changes
     */
    computed: mapState({
      scene: state => state.selectedScene
    }),

    /**
     * Get the data when the component is mounted.
     */
    mounted() {
      this.getData();
    }
  }
</script>
