<template>
  <v-container grid-list-md grid-list-xl>
    <v-toolbar>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat v-on:click="addScene()">Scene toevoegen</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-list two-line>
      <template v-for="scene in scenes">
        <v-subheader v-if="scene.name" v-text="scene.name"
                     v-on:click="navigateToScene(scene)"></v-subheader>
      </template>
    </v-list>

    <v-dialog v-model="newSceneDialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Nieuwe Scene</v-card-title>
        <v-form class="ma-3">
          <v-text-field v-model="newScene.name" label="Name" :counter="25">
          </v-text-field>
        </v-form>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click.native="onCancel">Annuleren</v-btn>
          <v-btn color="green darken-1" flat="flat" @click.native="onOk">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<style>

</style>

<script>
  import { mapState } from 'vuex'
  import router from '../router';

  export default {
    data() {
      return {
        /**
         * Whether or not the newScene dialog should be open.
         */
        newSceneDialog: false,
        /**
         * The data of the new Shot.
         */
        newScene: {},
      }
    },
    methods: {
      /**
       * Dispatches an action to get all the scenes
       */
      getData() {
        this.$store.dispatch('searchScenes');
      },

      /**
       * Opens the dialog to create a new scene.
       */
      addScene: function () {
        this.newSceneDialog = true;
      },

      /**
       * Closes the newScene dialog and clears the data.
       */
      onCancel: function () {
        this.newSceneDialog = false;
        this.newScene = {};
      },

      /**
       * Dispatches an action to save the new scene to the database.
       */
      onOk: function () {
        this.newSceneDialog = false;
        this.$store.dispatch('addScene', this.newScene);
      },

      /**
       * Navigate to the scene component when clicked on.
       * @param scene
       */
      navigateToScene(scene) {
        this.$router.push(`scene/${scene._id}`);
      },
    },

    /**
     * Computed property needed for VueX store. The scenes property will be updated when the state changes
     */
    computed: mapState({
      scenes: state => state.scenes
    }),

    /**
     * Get the data when the component is mounted.
     */
    mounted() {
      this.getData();
    }
  }
</script>
