<template>
  <v-container grid-list-md grid-list-xl>
    <v-toolbar>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat v-on:click="addTemplate()">Toevoegen</v-btn>
        <v-btn flat>Verwijderen</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-list two-line>
      <template v-for="template in templates">
        <v-subheader v-if="template.name" v-text="template.name"
                     v-on:click="navigateToTemplate(template)"></v-subheader>
      </template>
    </v-list>

    <v-dialog v-model="newTemplateDialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Nieuw Template</v-card-title>
        <v-form class="ma-3">
          <v-text-field v-model="newTemplate.name" label="Name" :counter="25">
          </v-text-field>
        </v-form>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click.native="onCancel">Annuleren</v-btn>
          <v-btn color="green darken-1" flat="flat" @click.native="onOk">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<style>

</style>

<script>
  import { mapState } from 'vuex'
  import router from '../router';

  export default {
    data() {
      return {
        /**
         * Whether or not the newTemplate dialog should be opened
         */
        newTemplateDialog: false,
        /**
         * The new template data.
         */
        newTemplate: {},
      }
    },
    methods: {
      /**
       * Dispatch an action to get all the templates
       */
      getData() {
        this.$store.dispatch('searchTemplates');
      },

      /**
       * Open the newTemplate dialog
       */
      addTemplate: function () {
        this.newTemplateDialog = true;
      },

      /**
       * Close the newTemplate dialog and clear the data.
       */
      onCancel: function () {
        this.newTemplateDialog = false;
        this.newTemplate = {};
      },

      /**
       * Dispatch an action to save the new template to the database.
       * Close the newTemplate dialog
       */
      onOk: function () {
        this.newTemplateDialog = false;
        this.$store.dispatch('addTemplate', this.newTemplate);
      },

      /**
       * Navigate to the template component when clicked on.
       * @param scene
       */
      navigateToTemplate(scene) {
        this.$router.push(`template/${scene._id}`);
      },
    },

    /**
     * Computed property needed for VueX store. The templates property will be updated when the state changes
     */
    computed: mapState({
      templates: state => state.templates
    }),

    /**
     * Get the data when the component is mounted.
     */
    mounted() {
      this.getData();
    }
  }
</script>
