<template>
  <v-app id="app">
    <v-toolbar id="navbar">
      <v-toolbar-title>Digital Signage</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <router-link class="navbar-item" tag="v-btn" to="/scenes" flat>Scenes</router-link>
        <router-link class="navbar-item" tag="v-btn" to="/templates" flat>Templates</router-link>
      </v-toolbar-items>
    </v-toolbar>
    <router-view></router-view>
  </v-app>
</template>

<script>
  export default {
    name: 'app'
  }
</script>

<style>
  #app
  {
    font-family             : 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    text-align              : center;
    color                   : #2c3e50;
  }
  #navbar, button.navbar-item.btn {
    background-color: #93298E !important;
    color: white;
  }

  button.navbar-item.btn.router-link-active{
    background-color: #7b2277 !important;
  }
</style>
